.fondGris{ background-color: grey; border: 1px solid white; padding: 10px; width: 100vw; height: 8vw;}
.fondJaune{ background-color: yellow; border: 1px solid white; padding: 10px; width: 100vw; height: 8vw;}
.fondOrange{ background-color: orange; border: 1px solid white; padding: 10px; width: 100vw; height: 8vw;}
.fondNoir{ background-color: black; border: 1px solid white; padding: 10px; width: 100vw; height: 8vw;}


